/* 	file: ot1.css
	desc: ot1a.php, ot1b.php ja ot1d.php -tiedostojen
		  tyylimääritykset
	date: 12.2.2018
	auth: Maarit Parkkonen */

form {	
	width:400px;	
	background-color: #44b09e;	
	border-radius: 10px;
	-moz-border-radius: 10px;
	-webkit-border-radius: 10px;	
	box-shadow: 3px 3px 3px #000000;	
	padding:10px;
	color: white;
	font-weight: bold;
	font-size:20px;
	text-shadow: 2px 2px 5px #111111;	
	margin-bottom:20px;
	
}	

p {
	text-align: center;
}

#tuloste {
	font-size: 25px;
	font-weight: bold;
	color: #000000;	
	text-shadow: none;
}

#tuloste2{
	font-size: 20px;
	margin:10px 0px 10px 0px;
}

label{
	display: block;
}

.syote{
	width: 300px;
	font-size:16px;
	margin-bottom:10px;
}

.nappi{
	padding:5px;
	border-radius: 5px;
	-moz-border-radius: 5px;
	-webkit-border-radius: 5px;
	box-shadow: 3px 3px 3px #000000;
	min-width:80px;
}




